<div id="slider">
    <div class="slider-block">
        <div class="slider">
            <ul class="items">
                <li>
                    <img src="/images/slide-1.jpg" alt="">
                    <div class="banner">
                        <div>
                            <span>Ford</span><strong>Сiriure dolor nhendrerit</strong>
                            <p>Nam liber tempor cum soluta nobis eleifenoption congue nigfif аil imperdiet doming id quod mazim placerat facer. Lorjem ipsum dolor sit amet, consecer adipiscing elit.</p>
                            <a href="#" class="button">Read More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/slide-2.jpg" alt="">
                    <div class="banner">
                        <div>
                            <span>Maserati GT</span><strong>Vulputate velit esse</strong>
                            <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
                            <a href="#" class="button">Read More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/slide-3.jpg" alt="">
                    <div class="banner">
                        <div>
                            <span>Honda HSC</span><strong>Molestie consequat vel</strong>
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                            <a href="#" class="button">Read More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="prev"></a> <a href="#" class="next"></a>
    </div>
</div>
