<section id="content">
    <div class="block-1 box-1">
        <div>
            <img src="/images/page1-img1.jpg" alt="">
            <p class="text-1">Schedule <strong>Services</strong></p>
            <p class="upper"><a href="#" class="link">Click here</a> for more info about this free website templates  .</p>
            <a href="#" class="button">Daha Fazla</a>
        </div>
        <div>
            <img src="/images/page1-img2.jpg" alt="">
            <p class="text-1">Preventive <strong>Maintenance</strong></p>
            <p class="upper">FEEL FREE TO GET THIS FREE WEB TEMPLATE</p>
            <a href="#" class="button">Daha Fazla</a>
        </div>
        <div>
            <img src="/images/page1-img3.jpg" alt="">
            <p class="text-1">Repair <strong>Services</strong></p>
            <p class="upper">FEEL FREE TO GET THIS FREE WEB TEMPLATE</p>
            <a href="#" class="button">Daha Fazla</a>
        </div>
        <div class="last">
            <img src="/images/page1-img4.jpg" alt="">
            <p class="text-1"> Wheel <strong>Service</strong></p>
            <p class="upper">FEEL FREE TO GET THIS FREE WEB TEMPLATE </p>
            <a href="#" class="button">Daha Fazla</a>
        </div>
    </div>
    <div class="block-2 wrap pad-2">
        <div class="box-2">
            <h2 class="clr-1">Reviews</h2>
            <div class="comments">
                <div>
                    “Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.”
                    <div class="comments-corner"></div>
                </div>
                <a href="#">dolor hendrerit</a>
            </div>
            <div class="comments">
                <div>
                    “vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.”
                    <div class="comments-corner"></div>
                </div>
                <a href="#">vulputate velit</a>
            </div>
        </div>
        <div class="box-3">
            <h2 class="clr-1">Our Services</h2>
            <div class="wrap">
                <ul class="list-1">
                    <li><a href="#">Consetetur sadipscing</a></li>
                    <li><a href="#">elitr sed diam nonumy</a></li>
                    <li><a href="#">tempor invidunt utabore</a></li>
                    <li><a href="#">et dolore magna aliquyam</a></li>
                    <li><a href="#">erat sed diam voluptua</a></li>
                    <li><a href="#">At vero eos et accusam et</a></li>
                </ul>
                <ul class="list-1 last">
                    <li><a href="#">Takimata sanctus est</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Ipsum dolor sit amet</a></li>
                    <li><a href="#">consetetur sadipscing </a></li>
                    <li><a href="#">sed diam nonumy eirmod</a></li>
                    <li><a href="#">tempor invidunt ut labore</a></li>
                </ul>
            </div>
            <a href="#" class="button-2">Daha Fazla</a>
        </div>
    </div>
</section>
