
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg">
    <header>
        
        <nav>
          
            <div class="clear"></div>
        </nav>
    </header>
   </div>
 
 <a href="#" class="prev"></a> <a href="#" class="next"></a>
        
    

