
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<section id="content">
    <div class="block-1 box-1">
        <div>
            <img src="/images/page1-img1.jpg" alt="">
            <p class="text-1">Schedule <strong>Services</strong></p>
            <p class="upper"><a href="#" class="link">Click here</a> for more info about this free website templates  by TemplateMonster.com.</p>
            <a href="#" class="button">Read More</a>
        </div>
        </div>
    </section>

