
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutGenel.cshtml";
}

<section id="content">
    <div class="sub-page" style="background-color:white">
        <div class="sub-page"style="background-color:white">
                <img src="~/images/page3-img4.png" alt="" height="876" width="550" class="img-indent">
            <h2 class="top-1 p3">Yönetim Takımı</h2>
            <p class="upper"></p>
            <div class="box-9">
                <div>
                    <img src="~/images/mustafa.jpg" alt="" height="200" width="200"> <a href="#" class="link">Mustafa YÜCELER</a>
                    <p>Rot Balans Uzmanı</p>
                </div>
                <div>
                    <img src="~/images/asım.jpg" alt="" height="200 " width="200"> <a href="#" class="link">Asım ULUSOY</a>
                    <p>Kıdemli Kaporta Uzmanı</p>
                </div>
                <div class="last">
                    <img src="~/images/hakan.jpg" alt="" height="200 " width="200"> <a href="#" class="link">  Hakan COŞKUN</a>
                    <p>Motor Bakım Uzmanı</p>
                </div>
            </div>
           <center><a href="#" class="button">Daha Fazla</a></center> 
        </div>
       
        </div>
    
</section>
<footer> &copy; 1993 | <a href="#">Car REPAİR</a> | Wissen Teknik Servis</a></footer>

