
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutGenel.cshtml";
}




<div class="row" style="background-color:#808080; margin-right:0px; margin-left:0px;">
    <div class="col-md-8">
        <h2 style="color:white"></h2>
        <form id="form" method="post" action="#"> </form>
           <p>
               İrtibat Tel: 05555555555 <br />

               Adres:  Merdivenköy mahallesi koçtaş sokak numara 10 daire 1 Kadıköy / İstanbul
           </p>
               
            </div>
       
   
</div>
